.jumbo-list {
	width: 240rem;
	height: 120rem;
	position: relative;
	margin: 0 auto;
	top: 50%;
	transform: translateY(-50%);
}

.jumbo-list__list {
	display: flex;
	justify-content: space-between;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	left: 0;
	right: 0;
	padding: 0 9.5rem;
}

.jumbo-list__logo {
	width: 58.2rem;
	height: 9.4rem;
	background: url(img/logo.svg) top center no-repeat;
	background-size: cover;
	position: absolute;
	bottom: 8rem;
	left: 9.5rem;
}

.jumbo-list__slogan {
	width: 73.6rem;
	height: 10.5rem;
	background: url(img/slogan.svg) top center no-repeat;
	background-size: cover;
	position: absolute;
	right: 9.5rem;
	top: 8rem;
}

.jumbo-list__tags {
	width: 57.7rem;
	height: 6.7rem;
	background: url('img/tags.svg') top center no-repeat;
	background-size: cover;
	position: absolute;
	left: 9.5rem;
	top: 8rem;
}

.jumbo-list__pic {
	width: 18.9rem;
	height: 16.1rem;
	background: url('img/pic.svg') top center no-repeat;
	background-size: cover;
	position: absolute;
	right: 9.5rem;
	bottom: 5rem;
}
/*
.jumbo-list__button {
	display: inline-block;
	padding: 0 15px;
	white-space: nowrap;
	height: 40px;
	line-height: 40px;
	border: 2px solid coral;
	color: coral;
	background: #fff;
	transition: all .3s ease;
	cursor: pointer;
	min-width: 100px;
	font-size: 20px;
	text-transform: uppercase;
	margin: 20px 0;
}

.jumbo-list__button:hover {
	color: #fff;
	background: coral;
}
*/